__pycache__/
.DS_Store
*.ipynb
*.egg-info/
*.egg
tmp/
seeds/
build/
.vscode/
.VSCodeCounter/
.pytest_cache/
.env
.venv
logs/
data_statistics/
secure-chain-final/
.idea/
data_etl_app/src/data_etl_app/knowledge
*.pem
*.ttl
scratch.ipynb
keys.py
*.log
# Ignore any .json file that does NOT have .schema before .json
# Example: data.json (ignored), data.schema.json (not ignored)
*.json
!*.schema.json
!*.config.json
*.jsonl
*.ndjson
*.csv
*.txt
*.owl
archive/