__pycache__/
.DS_Store
*.ipynb
*.egg-info/
*.egg
tmp/
seeds/
build/
.vscode/
.VSCodeCounter/
.pytest_cache/
.env
.venv
logs/
data_statistics/
data_etl_app/src/data_etl_app/scripts/
.idea/
data_etl_app/src/data_etl_app/knowledge
*.pem
*.ttl
scratch.ipynb
keys.py