__pycache__/
.DS_Store
*.ipynb
!apps/data_etl_app/src/data_etl_app/scripts/mfg_extraction_test.ipynb
*.egg-info/
*.egg
tmp/
seeds/
build/
.vscode/
.VSCodeCounter/
.pytest_cache/
.env
.venv
.ruff_cache
.pm2
logs/
data_statistics/
secure-chain-final/
.idea/
*.pem
*.ttl
scratch.ipynb
keys.py
*.log
# Ignore any .json file that does NOT have .schema before .json
# Example: data.json (ignored), data.schema.json (not ignored)
*.json


!*..manufacturers.json
!*.schema.json
!*.config.json
*.jsonl
*.ndjson
*.csv
*.txt
*.owl
prompts/
archive/
envs/
sample_pipeline_requests/


apps/data_etl_app/src/data_etl_app/knowledge
!apps/data_etl_app/src/data_etl_app/knowledge/
!apps/data_etl_app/src/data_etl_app/knowledge/prompts/
!apps/data_etl_app/src/data_etl_app/knowledge/prompts/rule_catalog/
!apps/data_etl_app/src/data_etl_app/knowledge/prompts/rule_catalog/*.json
apps/data_etl_app/src/data_etl_app/knowledge/prompts/final_texts/
!apps/data_etl_app/src/data_etl_app/knowledge/prompts/skeletons/
!apps/data_etl_app/src/data_etl_app/knowledge/prompts/skeletons/*.txt