PROTOCOL=http
HOSTED_AT=localhost
PORT=8000

### Ontotext GraphDB settings
GRAPH_DB_BASE_URL="http://localhost:7200/repositories/local-sudokn"

### MongoDB settings
# remember to switch to localhost on ec2
MONGO_DB_URI="mongodb://root:example@localhost:27017/sudokn-new?authSource=admin&directConnection=true"

# SMTP Secrets
SES_REGION=us-east-1
SES_FROM_EMAIL=noreply@sudokn.com

### AWS Settings
AWS_REGION=us-east-1

## AWS S3 Buckets --------------------------------------------- ##
# SCRAPED_TEXT_BUCKET=sudokn-scraped-text
SCRAPED_TEXT_BUCKET=sudokn-scraped-text


## AWS (IAM users) -------------------------------------------- ##
# `s3_scraper`
AWS_SCRAPED_BUCKET_USER_ACCESS_KEY_ID=AKIAYKFQQ26WLDZY
AWS_SCRAPED_BUCKET_USER_SECRET_ACCESS_KEY=CS+Mpn8ncn/gd4GcOiu2P1SybL22J

# `sqs_scraper` keys (with PollFromScrapePushToExtract and PollFromPriorityScrape-PushToPriorityExtract embedded)
AWS_SCRAPE_QUEUE_USER_ACCESS_KEY_ID=AKIAYKFQQ26WHHB5O
AWS_SCRAPE_QUEUE_USER_SECRET_ACCESS_KEY=4gIGJEhRBPRY8LJ0Q7WdekZz2F6oKTG

# `sqs_extractor` keys (with PollFromExtract and PollFromPriorityExtract embedded)
AWS_EXTRACT_QUEUE_USER_ACCESS_KEY_ID=AKIAYKFQQ26WB7KR
AWS_EXTRACT_QUEUE_USER_SECRET_ACCESS_KEY=WCiPLSkhlXIl


## AWS Queue URLs --------------------------------------------- ##
# AWS Scrape Queues (5 minute timeout)
SCRAPE_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/5716008529/ScrapeQueue-Dev
PRIORITY_SCRAPE_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/5716008529/PriorityScrapeQueue
SCRAPE_DLQ_URL=https://sqs.us-east-1.amazonaws.com/5716008529/Scrape-DLQ

# AWS Extract Queues (30 second timeout)
EXTRACT_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/5716008529/ExtractQueue-Dev
PRIORITY_EXTRACT_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/5716008529/PriorityExtractQueue
EXTRACT_DLQ_URL=https://sqs.us-east-1.amazonaws.com/5716008529/Extract-DLQ

# AWS GT Queues
GT_EXTRACT_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/5716008529/GTExtractQueue
GT_SCRAPE_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/5716008529/GTScrapeQueue

## unused ---------------------------------------------------- ##
# AWS `s3_ingest` IAM user keys (Unused)
AWS_S3_INGEST_ACCESS_KEY_ID=AKIAYKFQQ26WH4W
AWS_S3_INGEST_SECRET_ACCESS_KEY=DFgV5cDSIF9
RAW_CSV_INGEST_BUCKET=sudokn-data-etl/ingest
